footer {
    background-color: rgba(53, 53, 53);
    padding: 25px;
    width: 100%;
}

footer h2 {
    font-family: "Shrikhand";
    color: white;
    font-size: 21px;
    margin-bottom: 15px;
    font-weight: 100;
}

footer li {
    list-style-type: none;
    padding-bottom: 10px;
    font-size: 18px;
}

footer span {
    margin-left: 8px;
}

footer a {
    text-decoration: none;
    color: white;
}

.fa-handshake-angle {
    font-size: 12px;
}